altgraph==0.17.4
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==2.3.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mutagen==1.47.0
Nuitka==2.6.7
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
python-dotenv==1.0.0
pywin32-ctypes==0.2.3
SQLAlchemy==2.0.38
typing_extensions==4.12.2
Werkzeug==2.3.6
WTForms==3.2.1
zstandard==0.23.0
