{% extends "base.html" %}
{% block title %}首页{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">欢迎使用网络音乐库</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h4>主要功能：</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">MP3音乐上传与存储</li>
                            <li class="list-group-item">音乐链接生成</li>
                            <li class="list-group-item">本项目专用于网络音乐机</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>使用指南：</h4>
                        <ol>
                            <li>点击导航栏【上传音乐】上传MP3文件</li>
                            <li>登录后可查看个人上传记录</li>
                            <li>管理员账户可管理所有音乐文件</li>
                            <li>上传后可暂时查看到音乐信息</li>
                        </ol>
                    </div>
                </div>
                <a href="{{ url_for('upload') }}" class="btn btn-primary">
                    去上传音乐
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}